<!--<div class = "loginPage">
    <div class = "loginContainer">
        <form>
            <h1>Please login</h1>
            <div><input type = "text" placeholder="Username" id="username" required></div>
            <div><input type = "password" placeholder="Password" id="password" required></div>
            <div><input type="checkbox"> Remember me</div>
            <button data-ng-click="login()">Login</button>
        </form>
    </div>

</div>

-->
<div class="login">
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="u" placeholder="Username" required="required" id="username" class="logininput"/>
            <input type="password" name="p" placeholder="Password" required="required" id="password" class="logininput"/>
            <button type="submit" data-ng-click="login()" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
    </div>